{% load static %}

<div class="jumbotron">
<h5 class="text-center">VIP pricing </h5>
</div>

<div class="row">


<div class="col-md-5" align = "center">

  <h4 style="color:blue"> Weekly(7days) subscription</h4>
  <p> Kenya : Ksh. 500</p>
  <p> Nigeria : 3,000 Naira </p>
  <p> Uganda : Ush. 25,000 </p>
  <p> Tanzania : Tsh. 15,000</p>
  <p> USD : 10 USD </p>

</div>

<div class="col-md-5" align = "center">

  <h4 style="color:blue"> Monthly(30) days subscription</h4>
  <p> Kenya : Ksh. 1,000</p>
  <p> Nigeria : 5,000 Naira </p>
  <p> Uganda : Ush. 40,000 </p>
  <p> Tanzania : Tsh. 25,000</p>
  <p> USD : 15 USD </p>

</div>

</div>
