{% load static %}
<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2></h2>
    </div>

    <div class="row">

      <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h5>Kenya Office</h5>
          <p>Mark Square, 5th Floor, Block 3</p>
          <p>Chiromo Road, Westlands,</p>
          <p>Nairobi, Kenya.</p>
        </div>
      </div>

      <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="info-box">
          <i class="bx bx-envelope"></i>
          <h3>Email Us</h3>
          <p></i> Email: palsbet1@gmail.com</p>
        </div>
      </div>

      <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="info-box ">
          <i class="bx bx-phone-call"></i>
          <h3>Call Us</h3>
          <p></i> Phone:  +254798265307</p>
          <p></i> Skype: Palsbet</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Contact Us Section -->
